/* Normal Styles - For mobiles vertical */
html{
  position: relative;
  min-height: 100%;
}

header {
  margin-top: 20px;
}

body {
  //background: green;
}

div {
  line-height: 7px;
  //background: red;
}

div h2{
  font-family: 'Roboto Mono', monospace;
  opacity: 1;
  font-weight: 100;
  text-align: center;
}

div h5{
  font-family: 'Roboto Mono', monospace;
  opacity: .54;
  font-weight: 100;
  text-align: center;
}

table tr td h4{
  font-weight: 100;
  opacity: .54;
}

table{
  //background: blue;
  margin: auto;
  border-spacing:  10px 30px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  //border-style: solid;
}

table tr td{
  //border-style: solid;
}

div #projects{
  width: 70px;
  height: 70px;
  background: #3498DB;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div #projects img{
  margin-top: 23px;
  //border-style: solid;
}

div #blog{
  width: 70px;
  height: 70px;
  background: #E74C3C;
  text-align: center;
  //margin-left: 50px;

  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div #blog img{
  margin-top: 23px;
  //border-style: solid;
}

div #aboutMe{
  width: 70px;
  height: 70px;
  background: #F1C40F;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div #aboutMe img{
  margin-top: 23px;
  //border-style: solid;
}

footer{
  position: absolute;
  //margin-top: 150px;
  //background: black;
  height: 50px;
  width: 100%;
  bottom: 0;
}

footer h5{
  //background: gray;
  //padding-top: 25px;
  //margin-top: 50px;
  font-family: 'Roboto Mono', monospace;
  opacity: .54;
  font-weight: 100;
  text-align: center;
}

/* Mobile horizontally or Tablets vertical */
@media (min-width: 768px) {

}

/* Tablets horizontally and Normal desks */
@media (min-width: 1024px) {

}

/* large desks */
@media (min-width: 1200px) {

}
