header{line-height:7px;height:100px;width:100%;margin-top:25px}body{background:#fff;margin:0;padding:0;-webkit-text-size-adjust:none}footer{text-align:center;margin-top:10px}h2{font-family:'Roboto Mono',monospace;opacity:1;font-weight:100;text-align:center}h3{font-weight:100;opacity:.54}h4{font-weight:100;opacity:.54}h5{font-family:'Roboto Mono',monospace;opacity:.54;font-weight:100;text-align:center}h6{font-family:'Roboto Mono',monospace;opacity:.54;font-weight:100;text-align:center}span{background:rgb(50,215,0);color:white;border-radius:3px;white-space:pre;line-height:23px}a:link{color:#2980b9;text-decoration:none}a:visited{color:#2980b9;text-decoration:none}img{-khtml-user-select:none;-o-user-select:none;-moz-user-select:none;-webkit-user-select:none;user-select:none}#main-content{padding-top:20px;padding-bottom:10px}#myTopics_1{margin:auto;border-spacing:15px;font-family:'Roboto Mono',monospace;font-weight:100}#myTopics_2{display:none}#extract{text-align:center;font-family:'Roboto Mono',monospace}#aboutThis{margin-top:-10px}#div_email{text-align:center;margin:-10px auto;height:25px;padding-top:1px}#p_email{display:none;font-family:'Roboto Mono',monospace;font-weight:100;opacity:.90;text-align:center;margin-top:0}#me{height:200px;width:200px}#followMe img{padding-top:15px;padding-left:10px;padding-right:10px;padding-bottom:30px}#myTopics_2 a{cursor:default}div #projects{background:black}div #projects:hover{box-shadow:0 10px 22px rgba(0,0,0,.21),0 6px 6px rgba(0,0,0,.21)}div #projects img{margin-top:23px}div #projects #mini{margin-top:16px}#projects-article{padding-top:40px;background:white;margin-top:-165px;position:relative}div #blog{background:white}div #blog:hover{box-shadow:0 10px 22px rgba(0,0,0,.21),0 6px 6px rgba(0,0,0,.21)}div #blog img{margin-top:23px}div #aboutMe{background:black}div #aboutMe:hover{box-shadow:0 10px 22px rgba(0,0,0,.21),0 6px 6px rgba(0,0,0,.21)}div #aboutMe img{margin-top:23px}#aboutMe-article{padding-top:40px;text-align:center;background:white;margin-top:-165px;position:relative;font-weight:100;font-family:'Roboto Mono',monospace}#aboutMe-article h5{margin-top:5px;font-family:'Roboto Mono',monospace;opacity:.54;font-weight:100}#go-home{color:black;text-decoration:none}
.card{
  border-radius: 14px;
  display: inline-block;
  height: 365px;
  margin: 1rem;
  margin-top: -50px;
  position: relative;
  width: 245px;
}

.bgimg{
  background-image: url("../assets/images/wnd-cmd2.png");
  background-size:cover;
}

.mini-card{
  border-radius: 14px;
  //display: table-cell;
  margin-left: 12px;
  margin-top: 12px;
  vertical-align: middle;
  height: 65px;
  width: 68px;
  line-height: 0;
  padding-top: 5px;
}
.minicard-title{
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  font-size: 14px;
  line-height: 0;
}
.card-title{
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight:1000;
  font-size: 36px;
  line-height: 0;
  margin-left: 12px;
}
.card-subtitle{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  margin-top: 80px;
  margin-right: 12px;
  margin-left: 12px;
}

.card-info{
  font-weight:300;
  font-size: 12px;
}
.bg-color-black{
  background: black;
}
.bg-color-alizarin{
  background: #e74c3c;
}
.color-white{
  color: white;
}
.color-lime{
  color: rgb(255, 0, 255);
}
.bold{
  font-weight: 700;
}
.card-1{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


@media (min-width:768px){table tr td h4{opacity:.74}table tr td h5{text-align:left;margin-top:-15px}table tr td{vertical-align:middle}#myTopics_1{display:none}#myTopics_2{margin:auto;border-spacing:15px;font-family:'Roboto Mono',monospace;font-weight:100;width:600px;display:table}div #projects{width:100px;height:100px;background:black;text-align:center;border-radius:50%;transition:all 0.5s cubic-bezier(.25,.8,.25,1);box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}div #projects img{margin-top:30px}div #blog{width:100px;height:100px;background:white;text-align:center;border-radius:50%;transition:all 0.5s cubic-bezier(.25,.8,.25,1);box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}div #blog img{margin-top:30px}div #aboutMe{width:100px;height:100px;background:black;text-align:center;border-radius:50%;transition:all 0.5s cubic-bezier(.25,.8,.25,1);box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}div #aboutMe img{margin-top:30px}}

@media (min-width:1024px){#myTopics_2{width:800px}h4{opacity:.9}h5{opacity:.9}h6{opacity:.8}table tr td h4{opacity:.9}#aboutMe-article h5{opacity:.9}}

@media (min-width:1200px){#myTopics_2 tr td{height:150px}#myTopics_2{width:1000px}}.btn{width:70px;height:70px;text-align:center;border-radius:50%;transition:all 0.5s cubic-bezier(.25,.8,.25,1);box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}.image-cropper{width:100px;height:100px;position:relative;overflow:hidden;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%}.hide{display:none}
