/* Normal Styles - For mobiles vertical */
header {
  line-height: 7px;
  //background: red;
  height: 100px;
  width: 100%;
  margin-top: 25px;
}

canvas {
  //background: gray;
  position: absolute;

  //margin-left:31px;
  display: block;
  width:100%;
  height:300px;

  z-index:-1;
}

#ic_e-mail:active {

}

h2{
  font-family: 'Roboto Mono', monospace;
  opacity: 1;
  font-weight: 100;
  text-align: center;
}

h4{
  font-weight: 100;
  opacity: .54;
}

h5{
  font-family: 'Roboto Mono', monospace;
  opacity: .54;
  font-weight: 100;
  text-align: center;
  //background: gray;
}

h6{
  font-family: 'Roboto Mono', monospace;
  opacity: .54;
  font-weight: 100;
  text-align: center;
  //background: lime;
}

body {
  background: white;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust:none;
}

hr {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ddd;
}

a:link {
    color: #2980b9;
    text-decoration: none;
}

a:visited {
    color: #2980b9;
    text-decoration: none;
}

#extract h4{
  font-family: 'Roboto Mono', monospace;
  //background: red;
  text-align: center;
  background: purple;
}

#main-content {
  //background: white;
  padding-top: 20px;
  padding-bottom: 10px;
  //margin: 20px auto;
  //border-radius: 2px;
  //box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#myTopics_1 {
  //border-style: solid;
  //background: lime;
  margin: auto;
  border-spacing: 15px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
}

#myTopics_2 {
  display: none;
}

table tr td {
  //border-style: solid;
  //background: gray;
}

div #projects{
  width: 70px;
  height: 70px;
  background: #3498DB;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div #projects img{
  margin-top: 23px;
  //border-style: solid;
}

div #blog{
  width: 70px;
  height: 70px;
  background: #E74C3C;
  text-align: center;
  //margin-left: 50px;

  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div #blog img{
  margin-top: 23px;
  //border-style: solid;
}

div #aboutMe{
  width: 70px;
  height: 70px;
  background: #F1C40F;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div #aboutMe img{
  margin-top: 23px;
  //border-style: solid;
}

footer{
  //background: red;
  text-align: center;
  //padding: 20px;
  margin-top: 10px;
}

/* Mobile horizontally or Tablets vertical */
@media (min-width: 768px) {
  body {
    //background: red;
  }

  h4 {
    font-weight: 100;
    opacity: .54;
    //background: red;
  }

  table tr td h4 {
    opacity: .74;
    //background: lime;
  }

  table tr td h5 {
    text-align: left;
    //background: yellow;
    margin-top: -15px;
  }

  #myTopics_1 {
    display: none;
  }

  #myTopics_2 {
    //background: lime;
    margin: auto;
    border-spacing: 15px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    width: 600px;
    display: table;
  }

  table tr td {
    //background: gray;
    vertical-align: middle;
    //line-height: 5px;
  }

  div #projects{
    width: 100px;
    height: 100px;
    background: #3498DB;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  div #projects img{
    margin-top: 30px;
  }

  div #blog{
    width: 100px;
    height: 100px;
    background: #E74C3C;
    text-align: center;
    //margin-left: 152px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  div #blog img{
    margin-top: 30px;
  }

  div #aboutMe{
    width: 100px;
    height: 100px;
    background: #F1C40F;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  div #aboutMe img{
    margin-top: 30px;
  }

}

/* Tablets horizontally and Normal desks */
@media (min-width: 1024px) {
  body {
    //background: green;
  }

  #myTopics_2 {
    //background: lime;
    //margin: auto;
    //border-spacing: 15px;
    //font-family: 'Roboto Mono', monospace;
    //font-weight: 100;
    width: 800px;
  }

  table tr td {
    //background: gray;
    //vertical-align: middle;
    //line-height: 5px;
  }

}

/* large desks */
@media (min-width: 1200px) {
  body {
    //background: blue;
  }

  #myTopics_2 {
    //background: lime;
    //margin: auto;
    //border-spacing: 50px;
    //font-family: 'Roboto Mono', monospace;
    //font-weight: 100;
    width: 1000px;
  }

  table tr td {
    //background: gray;
    //vertical-align: middle;
    //line-height: 5px;
    height: 150px;
  }


}
