body{
  //background-color: rgb(255, 249, 237);
  background-color: white;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  //font-family: 'PT Serif', serif;
}

.page-wrap{
  max-width: 900px;
  margin: 0px auto;
  //background-color: rgb(195, 195, 195);
}


.profile{
  width: 20%;
  height: 20%;
}
table{
  border-collapse: collapse;
}
table tr td{
  border: 1px solid black;
}
.text-justify{
  text-align: justify;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: center;
}


.size18{
  font-size: 18px;
}

header{
  font-size: 13px
}

.header{
  font-size: 18px;
  font-weight: 1000;
}
.sub-header{
  font-size: 18px;
  font-weight: 600;
}
.content{
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
  font-size: 18px;
}





.title{
  font-size: 36px;
  //background-color: red;
}
.green{
  color: rgb(0, 167, 151);
}
.cover{
  //background-color: red;
  margin-left: 5px;
  margin-right: 5px;
}
.responsive{
  width: 100%;
  height: 50%;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.author{
  font-size: 15px;
}
.oldStandardTT{
  font-family: 'Old Standard TT', serif;
}
.PTSerif{
  font-family: 'PT Serif', serif;
}
.line-short{
  margin-top: -21px;
  width: 30px;
  border-top: 0;
  border-color: black;
  max-width: 30px;
  margin-left:5px;
}
.black{
  color: black;
}
.bold{
  font-weight: 1000;
}







@media (min-width:768px){
  body{
    //background-color: black;
  }
  .profile{
    width: 15%;
    height: 15%;
  }
}

@media (min-width:1024px){
  body{
    //background-color: lime;
  }
  .profile{
    width: 15%;
    height: 15%;
  }
}

@media (min-width:1200px){
  body{
    //background-color: yellow;
  }
  .profile{
    width: 15%;
    height: 15%;
  }
}
