/* Normal Styles - For mobiles vertical */

/* Ripple for Porjects */
.ripple-wrap_1 {
  display: none;
  overflow: hidden;
  position: fixed;
  font-size: 0;
  z-index: 1000;
  top: 0; left: 0; right: 0; bottom: 0;
}
@-webkit-keyframes RIPPLER_1 {
  0%   { border-width: 0; }
  40% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #3498DB;
  }
  41% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #3498DB;
  }
  100% {
    border-width: 800px;
    height: 1500px;
    width: 1500px;
    margin-top: -1550px;
    margin-left: -1550px;
    border-color: #3498DB;
  }
}
@keyframes RIPPLER_1 {
  0%   { border-width: 0; }
  40% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #3498DB;
  }
  41% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #3498DB;
  }
  100% {
    border-width: 800px;
    height: 1500px;
    width: 1500px;
    margin-top: -1550px;
    margin-left: -1550px;
    border-color: #3498DB;
  }
}
.ripple_1 {
  display: block;
  height: 0;
  width: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #3498DB;
  border-radius: 100%;
  position: absolute;
  top: 300px;
  left: 300px;
  -webkit-animation: none;
  animation: none;
}
.ripple-wrap_1.goripple_1 {
  display: block;
}
.ripple-wrap_1.goripple_1 .ripple_1 {        /*Duracion aceptable: 2.3, 2.2s, 2 */
 -webkit-animation-name: RIPPLER_1;
 -webkit-animation-duration: 1.5s;
 -webkit-animation-fill-mode: forwards;
 animation-name: RIPPLER_1;
 animation-duration: 1.5s;
 animation-fill-mode: forwards;
}

/* Ripple for Blog */
.ripple-wrap_2 {
  display: none;
  overflow: hidden;
  position: fixed;
  font-size: 0;
  z-index: 1000;
  top: 0; left: 0; right: 0; bottom: 0;
}
@-webkit-keyframes RIPPLER_2 {
  0%   { border-width: 0; }
  40% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #E74C3C;
  }
  41% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #E74C3C;
  }
  100% {
    border-width: 800px;
    //height: 1500px;
    //width: 1500px;
    margin-top: -1550px;
    margin-left: -1550px;
    border-color: #E74C3C;
  }
}
@keyframes RIPPLER_2 {
  0%   { border-width: 0; }
  40% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #E74C3C;
  }
  41% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #E74C3C;
  }
  100% {
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #E74C3C;
  }
}
.ripple_2 {
  display: block;
  height: 0;
  width: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #E74C3C;
  border-radius: 100%;
  position: absolute;
  top: 300px;
  left: 300px;
  -webkit-animation: none;
  animation: none;
}
.ripple-wrap_2.goripple_2 {
  display: block;
}
.ripple-wrap_2.goripple_2 .ripple_2 {        /*Duracion aceptable: 2.3, 2.2s, 2 */
 -webkit-animation-name: RIPPLER_2;
 -webkit-animation-duration: 2s;
 -webkit-animation-fill-mode: forwards;
 animation-name: RIPPLER_2;
 animation-duration: 2s;
 animation-fill-mode: forwards;
}

/* Ripple for About Me */
.ripple-wrap_3 {
  display: none;
  overflow: hidden;
  position: fixed;
  font-size: 0;
  z-index: 1000;
  top: 0; left: 0; right: 0; bottom: 0;
}
@-webkit-keyframes RIPPLER_3 {
  0%   { border-width: 0; }
  40% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #F1C40F;
  }
  41% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #F1C40F;
  }
  100% {
    border-width: 800px;
    height: 1500px;
    width: 1500px;
    margin-top: -1550px;
    margin-left: -1550px;
    border-color: #F1C40F;
  }
}
@keyframes RIPPLER_3 {
  0%   { border-width: 0; }
  40% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #F1C40F;
  }
  41% {
    height: 0;
    width: 0;
    border-width: 800px;
    margin-top: -800px;
    margin-left: -800px;
    border-color: #F1C40F;
  }
  100% {
    border-width: 800px;
    height: 1500px;
    width: 1500px;
    margin-top: -1550px;
    margin-left: -1550px;
    border-color: #F1C40F;
  }
}
.ripple_3 {
  display: block;
  height: 0;
  width: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #F1C40F;
  border-radius: 100%;
  position: absolute;
  top: 300px;
  left: 300px;
  -webkit-animation: none;
  animation: none;
}
.ripple-wrap_3.goripple_3 {
  display: block;
}
.ripple-wrap_3.goripple_3 .ripple_3 {        /*Duracion aceptable: 2.3, 2.2s, 2 */
 -webkit-animation-name: RIPPLER_3;
 -webkit-animation-duration: 2s;
 -webkit-animation-fill-mode: forwards;
 animation-name: RIPPLER_3;
 animation-duration: 2s;
 animation-fill-mode: forwards;
}
